$font-segoe-normal: 'Segoe UI';
$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: $font-segoe-normal, 'Source Sans Pro', 'Helvetica Neue',
  'Helvetica', $font-family-sans-fallback;
$element-border: #e6e6e6;
$light-blue: lighten(#bbe9ff, 8%);
$para-text: #9faab7;
$table-font: 12px;
$blue: #1fb6ff;

body {
  margin: 0;
}

.data-table {
  height: 245px;
  * {
    box-sizing: border-box;
  }
  font-family: $font-family-sans;
  border-collapse: collapse;
  overflow: hidden;
  .table-row {
    display: flex;
    align-items: stretch;
    .t-head {
      font-weight: bold;
      color: $para-text;
      border-top: 1px solid $element-border;
      line-height: 150%;
    }
    .t-columns {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.selected {
        box-shadow: inset 0 0 0px 1px $blue;
      }
      &.editable {
        padding: 0px;
        &:hover {
          input {
            box-shadow: inset 0 0 0px 1px darken($light-blue, 10%);
          }
        }
        input {
          &:focus {
            box-shadow: inset 0 0 0px 1px $blue;
          }
        }
      }
      input {
        width: 100%;
        height: 100%;
        background: transparent;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: $table-font;
        outline: none;
        border: none;
      }
    }
    .t-columns,
    .t-head {
      border-right: 1px solid $element-border;
      border-bottom: 1px solid $element-border;
      padding: 2px 5px;
      word-break: break-word;
      flex: 100 0 auto;
      width: 100px;
      font-size: $table-font;
      &.editable {
        background-color: $light-blue;
      }
      &:first-child {
        border-left: 1px solid $element-border;
      }
    }
  }
  .table-head-row,
  .table-body-row {
    display: flex;
    flex-direction: column;
  }
  .Select {
    height: 100%;
    &.is-focused:not(.is-open) {
      & > Select-control {
        box-shadow: none !important;
      }
    }
  }
  .Select-control {
    height: 100% !important;
    border: none !important;
    background-color: transparent !important;
    &:hover {
      box-shadow: none;
    }
    .Select-multi-value-wrapper {
      height: 100%;
      display: flex;
      width: 100%;
    }
    .Select-value {
      line-height: 20px !important;
    }
    .Select-value-label {
      display: flex;
      height: 100%;
      align-items: center;
    }
    .Select-input {
      height: 100% !important;
      &:focus {
        background-color: transparent !important;
      }
    }
  }
}

.ReactVirtualized__Grid:focus {
  outline: none;
}

.data-table .table-row .t-columns.editable input:focus,
.data-table .table-row .t-columns.editable:hover input {
  box-shadow: none !important;
}
.Select-input > input {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 50px;
}
