$font-segoe-normal: 'Segoe UI';
$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: $font-segoe-normal, 'Source Sans Pro', 'Helvetica Neue',
  'Helvetica', $font-family-sans-fallback;
$element-border: #e6e6e6;
$light-blue: lighten(#bbe9ff, 8%);
$para-text: #9faab7;
$table-font: 12px;
$blue: #1fb6ff;
$orange: rgb(160, 195, 255);
body {
  margin: 0;
}
.table-head-row{
  padding-right: 14px;
}
.data-table {
  height: 245px;
  * {
    box-sizing: border-box;
  }
  font-family: $font-family-sans;
  border-collapse: collapse;
  overflow: hidden;
  .table-row {
    display: flex;
    align-items: stretch;
    // padding-right: 17px;
    .t-head {
      font-weight: bold;
      color: $para-text;
      border-top: 1px solid $element-border;
      line-height: 150%;
    }
    .t-columns {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      &.selected {
        box-shadow: inset 0 0 0px 1px $blue;
        background-color: rgba($orange, 0.08) !important;
        button {
          outline: none;
          border: none;
          background: $blue;
          width: 9px;
          height: 9px;
          padding: 0px;
          position: absolute;
          right: 0;
          cursor: crosshair;
          bottom: 0;
        }
      }
      &.editable {
        padding: 0px;
        &:hover {
          input {
            box-shadow: inset 0 0 0px 1px darken($light-blue, 10%);
          }
        }
        input {
          &:focus {
            box-shadow: inset 0 0 0px 1px $blue;
          }
        }
      }
      input {
        width: 100%;
        height: 100%;
        background: transparent;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: $table-font;
        outline: none;
        border: none;
      }
    }
    .t-columns,
    .t-head {
      border-right: 1px solid $element-border;
      border-bottom: 1px solid $element-border;
      padding: 2px 5px;
      word-break: break-word;
      flex: 100 0 auto;
      width: 100px;
      font-size: $table-font;
      &.editable {
        background-color: $light-blue;
      }
      &:first-child {
        border-left: 1px solid $element-border;
      }
    }
  }
  .table-head-row,
  .table-body-row {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  
  }

  .Select {
    height: 100%;
    &.is-focused:not(.is-open) {
      & > Select-control {
        box-shadow: none !important;
      }
    }
  }
  .Select-control {
    height: 100% !important;
    border: none !important;
    background-color: transparent !important;
    &:hover {
      box-shadow: none;
    }
    .Select-multi-value-wrapper {
      height: 100%;
      display: flex;
      width: 100%;
    }
    .Select-value {
      line-height: 20px !important;
    }
    .Select-value-label {
      display: flex;
      height: 100%;
      align-items: center;
    }
    .Select-input {
      height: 100% !important;
      &:focus {
        background-color: transparent !important;
      }
    }
  }
}
// .table-header-group{
//   position: relative;
//   &:after{
//     content: '';
//     position: absolute;
//     width: 14px;
//     right: 3px;
//     border-top: 1px solid $element-border;
//     border-right: 1px solid $element-border;
//     border-bottom: 1px solid $element-border;
//     height: 100%;
//     top: 0;
//     bottom: 0;

//   }
// }
.ReactVirtualized__Grid:focus {
  outline: none;
}

.data-table .table-row .t-columns.editable input:focus,
.data-table .table-row .t-columns.editable:hover input {
  box-shadow: none !important;
}
.Select-input > input {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 50px;
}

.fake-checkbox {
  height: 10px;
}
.add-btn {
  &.hovered {
    width: 100%;
    border-bottom: 1px solid lighten($blue, 25%);
    position: absolute;
    z-index: 9999;
    bottom: 0;
  }
  button {
    height: 14px;
    width: 14px;
    background: $blue;
    position: absolute;
    bottom: -10px;
    z-index: 999;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
  }
}